<div class="list-container">
  <div *ngIf="artists">
    <div *ngFor="let artist of artists; let i = index" routerLink="/artist/{{artist.mbid}}" class="artist-summary-view">
      <div>
        <span class="chart-position">
          {{i + 1}}.
        </span>
        <br/>
        <span class="artist-image">
          <img src={{artist.imageUrl}} alt={{artist.name}} />
        </span>
      </div>
      <br/>
      <div class="artist-name">
        {{artist.name}}
      </div>
    </div>
  </div>
  <!-- TODO add a loading/error else here -->
</div>